.action-btn {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.6rem !important;
}

.delete-btn {
  height: 100%;
  font-size: 1.3rem;
  &:hover {
    color: var(--white) !important;
    background-color: var(--purple-500) !important;
    border-color: var(--purple-500) !important;
    box-shadow: var(--shadow-1);
  }
}

.edit-btn {
  height: 100%;
  font-size: 1.3rem;
  &:hover {
    color: var(--white) !important;
    background-color: var(--green-500) !important;
    border-color: var(--green-500) !important;
    box-shadow: var(--shadow-1);
  }
}
